/* Author: Javier López López
   Version: 1.0
   File Description: Css file for theme styles
*/
/****************************************\
01.General
*****************************************/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
    --color-primary: #000236;
    --color-secondary: #BBA14F;
    --color-tertiary: #6B6B6B;
}

/* Font declarations */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;300&display=swap');


html, body {
    font-family: 'Montserrat Thin', sans-serif;
    color: var(--color-tertiary);
}

h1, h2, h3 {
    font-family: 'Marcellus', serif;
    color: var(--color-primary);
}

h4, h5 {
    font-family: 'Montserrat', serif;
}

p {
    font-family: 'Montserrat Thin', sans-serif;
}

h1 {
    font-size: 55px;
}

/* Container */
.thm-container {
    max-width: 1100px;
}

/* Color */
.thm-color-secondary {
    color: var(--color-secondary);
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.thm-navbar {
    height: 72px;
    padding: 0;
}

.thm-navbar .navbar-nav .nav-item {
    padding: 4px;
    min-width: 86px;
}

.thm-navbar .navbar-nav .nav-item a {
    color: var(--color-primary);
}


/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.thm-btn-dark, .thm-btn-light {
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Marcellus', serif;
    font-style: normal;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.thm-btn-dark {
    padding: 13px 21px;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary) !important;
    color: #fff !important;
}

.thm-btn-light {
    padding: 16px 21px;
    background-color: rgba(255, 255, 255, 0.96);
    border-color: #fff !important;
    color: var(--color-secondary);
    box-shadow: inset 0px 1px 0px #ffffff, inset 0 -1px 2px #cccccc;
}

.thm-btn-dark:hover, .thm-btn-light:hover {
    background-color: rgba(3, 9, 56, 0.4);
    border-color: #fff;
}

.thm-btn-light:hover {
    padding: 14px 19px;
    box-shadow: inset 0px 1px 0px #1c2251, inset 0 -1px 2px #000004;
    color: #fff;
    border-width: 3px;
}

.thm-btn-dark:active {
    background-color: rgba(187, 162, 94, 1) !important;
}

.thm-btn-light:active {
    background-color: rgba(3, 9, 56, 0.96) !important;
    color: #D0C296 !important;
}


/*--------------------------------------------------------------
# Banner section
--------------------------------------------------------------*/

.banner-section {
    height: 711px;
    background-color: rgba(162,158,158,0.38);
    background-image: url(/assets/images/bg_banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner-section::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(162, 158, 158, 0.38);
    z-index: 2;
}

.banner-section div {
    z-index: 3;
}


/*--------------------------------------------------------------
# Logos section
--------------------------------------------------------------*/

.logos-section {
    background: rgba(3, 9, 56, 1);
    height: 75px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-top: 1px solid var(--color-secondary);
}