/* Author: Javier López López
   Version: 1.0
   File Description: Css file for theme styles
*/
/****************************************\
01.General
*****************************************/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
    --color-primary: #000236;
    --color-secondary: #BBA14F;
    --color-tertiary: #6B6B6B;
}

/* Font declarations */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;300&display=swap');


html, body {
    font-family: 'Montserrat Thin', sans-serif;
    color: var(--color-tertiary);
}

h1, h2, h3 {
    font-family: 'Marcellus', serif;
    color: var(--color-primary);
}

h4, h5 {
    font-family: 'Montserrat', serif;
}

p {
    font-family: 'Montserrat Thin', sans-serif;
}

h2 {
    font-size: calc(3.2rem + 0.9vw);
    line-height: 0.8;
}

h3 {
    font-size: calc(2.5rem + 0.4vw);
    line-height: 0.9;
}

/* Container */
.thm-container {
    max-width: 1100px;
}

/* Color */
.thm-color-primary {
    color: var(--color-primary);
}

.thm-color-secondary {
    color: var(--color-secondary);
}

@media screen and (max-width: 767px) {
    .thm-container {
        max-width: 350px;
    }
}


/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.thm-btn-dark, .thm-btn-light, .thm-btn-light2 {
    min-width: calc(195px + 0.4vw);
    padding: 16px 22px;
    border-radius: 10px;
    font-size: calc(0.9rem + 0.2vw);
    font-weight: 600;
    font-family: 'Marcellus', serif;
    font-style: normal;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.thm-btn-dark {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary) !important;
    color: #fff !important;
}

.thm-btn-light, .thm-btn-light2 {
    background-color: rgba(255, 255, 255, 0.96);
    color: var(--color-secondary);
}

.thm-btn-light {
    border-color: #fff !important;
    box-shadow: inset 0px 1px 0px #ffffff, inset 0 -1px 2px #cccccc;
}

.thm-btn-light2 {
    border-width: 3px;
    border-color: var(--color-secondary) !important;
}

.thm-btn-dark:hover, .thm-btn-light:hover {
    background-color: rgba(3, 9, 56, 0.4);
    border-color: #fff !important;
}

.thm-btn-light:hover {
    padding: 14px 19px;
    box-shadow: inset 0px 1px 0px #1c2251, inset 0 -1px 2px #000004;
    color: #fff;
    border-width: 3px;
}

.thm-btn-light2:hover {
    background: rgba(43, 176, 53, 1);
    color: #fff;
    border-color: rgba(43, 176, 53, 1) !important;
}

.thm-btn-dark:active {
    background-color: rgba(187, 162, 94, 1) !important;
}

.thm-btn-light:active {
    background-color: rgba(3, 9, 56, 0.96) !important;
    color: var(--color-secondary) !important;
}

.thm-btn-light2:active {
    color: var(--color-secondary) !important;
    border-color: #fff !important;
}

@media screen and (max-width: 767px) {
    .thm-btn-dark, .thm-btn-light, .thm-btn-light2 {
        padding: 14px 22px;
    }

    .thm-btn-light:hover {
        padding: 12px 19px;
    }
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.thm-navbar {
    height: 72px;
    padding: 0;
    z-index: 1000;
    transition: opacity 0.4s ease-in-out;
}

.thm-navbar .navbar-nav .nav-item {
    padding: 4px;
    min-width: 86px;
}

.thm-navbar .navbar-nav .nav-item a {
    color: var(--color-primary);
}

.thm-navbar .thm-btn-dark {
    padding: 13px 21px !important;
}

@media screen and (max-width: 767px) {
    .thm-navbar .logo {
        width: 110px;
    }

    .thm-navbar .thm-btn-dark {
        padding: 12px 19px !important;
    }
}


/*--------------------------------------------------------------
# Banner section
--------------------------------------------------------------*/

.banner-section {
    margin-top: 72px;
    height: 711px;
    background-image: url(../images/bg_banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner-section::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(162, 158, 158, 0.38);
    z-index: 2;
}

.banner-section div {
    z-index: 3;
}

.banner-section h1 {
    line-height: 1;
    font-size: calc(3.425rem + 0.3vw);
}

@media screen and (max-width: 767px) {
    .banner-section {
        height: 538px;
        background-attachment: initial;
        background-image: url(../images/bg_banner_mb.jpg);
    }

    .banner-section h1 {
        line-height: 0.9;
        font-size: calc(2.625rem + 0.3vw);
    }
}


/*--------------------------------------------------------------
# Logos section && Restaurants section
--------------------------------------------------------------*/

.logos-section, .restaurants-section {
    background: var(--color-primary);
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

.logos-section {
    border-top: 1px solid var(--color-secondary);
}

.logos-section .logos-list, .restaurants-section .logos-list {
    gap: 6px;
}

.restaurants-section h6 {
    font-size: 0.813rem;
}

/* Arrow up */

.arrow-up {
    width: 71px;
    height: 71px;
    background-color: #fff;
    border: 2px solid var(--color-primary);
    border-radius: 144px;
    z-index: 106;
    top: -50px;
    right: 12px;
}

@media screen and (max-width: 767px) {
    .logos-section .logos-list {
        gap: 4px;
    }

    .logos-section .logos-list img:nth-child(1) {
        width: 108px;
        height: 14px;
    }
    
    .logos-section .logos-list img:nth-child(2) {
        width: 64px;
        height: 32px;
    }
    
    .logos-section .logos-list img:nth-child(3) {
        width: 105px;
        height: 18px;
    }
    
    .logos-section .logos-list img:nth-child(4) {
        width: 79px;
        height: 23px;
    }
    
    .logos-section .logos-list img:nth-child(5) {
        width: 77px;
        height: 16px;
    }
    
    .logos-section .logos-list img:nth-child(6) {
        width: 81px;
        height: 19px;
    }

    .restaurants-section > div {
        padding-bottom: 54px;
    }

    .restaurants-section .logos-list img {
        margin-bottom: 19px;
    }

    .arrow-up {
        height: 65px;
        width: 65px;
        border: inherit;
        border-radius: 142px;
        top: inherit;
        bottom: -45px;
        right: 0;
        left: 0;
        margin: auto;
    }
}


/*--------------------------------------------------------------
# Video section
--------------------------------------------------------------*/

.video-section {
    height: 645px;
    background-color: rgba(115, 173, 179, 0.49);
}

.video-section .youtube {
    top: -11%;
    left: 0px;
    height: 122%;
    width: 100%;
    opacity: 1;
    display: block;
    position: absolute;
    z-index: -1;
}

.video-section h3 {
    font-size: calc(2.4rem + 0.2vw);
}

.video-section p {
    font-size: calc(1.125rem + 0.1vw);
}

@media screen and (max-width: 767px) {
    .video-section {
        height: inherit !important;
        background-color: #fff;
    }

    .video-section h3 {
        font-size: calc(1.225rem + 0.2vw);
        color: var(--color-secondary) !important;
        margin-bottom: 0;
    }
}


/*--------------------------------------------------------------
# Memories section
--------------------------------------------------------------*/

.memories-section {
    min-height: 680px;
    background-color: #fff;
    z-index: 1;
}

.memories-section p {
    font-size: calc(1.1rem + 0.1vw);
}

.memories-section .collage {
    position: absolute;
    border: 3px solid #fff;
    border-radius: 10px;
    overflow: hidden;
}

.memories-section .collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.memories-section .collage-1 {
    width: 305px;
    height: 223px;
    left: 74px;
    top: -245px;
    z-index: 11;
    /* top: 1344px; */
}

.memories-section .collage-2 {
    width: 208px;
    height: 276px;
    left: -23px;
    top: -81px;
    z-index: 12;
}

.memories-section .collage-3 {
    width: 173px;
    height: 132px;
    left: 113px;
    top: 236px;
    z-index: 79;
}

.memories-section .collage-4 {
    width: 206px;
    height: 274px;
    left: 259px;
    top: 9px;
    z-index: 78;
}

.memories-section .collage-5 {
    width: 208px;
    height: 276px;
    left: 408px;
    top: -206px;
    z-index: 57;
}

.memories-section .collage-6 {
    width: 144px;
    height: 197px;
    left: 446px;
    top: 203px;
    z-index: 22;
}

.memories-section .star-circle {
    width: 168px;
    height: 168px;
    border: 1px solid #fff;
    border-radius: 119px;
    right: 12px;
    top: -293.5px;
    z-index: 46;
}

.memories-section .star-circle p {
    margin-bottom: 0;
    color: #fff;
    font-size: 1rem;
}

.memories-section .star-circle p:first-child {
    font-size: calc(3.375rem + 0.5vw);
    line-height: 0.6;
}

.memories-section .star-circle p:nth-child(2) {
    font-size: calc(2.125rem + 0.3vw);
    line-height: 1;
}

.memories-section .star-circle .star {
    position: absolute;
    right: 0;
    bottom: 20px;
}

@media screen and (max-width: 767px) {
    .memories-section {
        min-height: 1213px;
    }

    .memories-section .collage-1 {
        display: none;
    }

    .memories-section .collage-2 {
        width: 270.5px;
        height: 192px;
        left: 43px;
        top: 530px;
    }

    .memories-section .collage-3 {
        width: 177px;
        height: 133px;
        left: 136.5px;
        top: 370px;
    }

    .memories-section .collage-4 {
        width: 160px;
        height: 209px;
        left: 5px;
        top: 399px;
    }

    .memories-section .collage-5 {
        width: 186px;
        height: 248px;
        left: 128px;
        top: -368px;
    }

    .memories-section .collage-6 {
        left: 5px;
        top: -411px;
    }

    .memories-section .star-circle {
        width: 155px;
        height: 155px;
        border: 1px solid #0309;
        border-radius: 119px;
        left: 16px;
        top: -201px;
    }

    .memories-section .star-circle p {
        color: rgb(3, 9, 56);
        width: 100%;
        text-align: center;
    }

    .memories-section .star-circle p:first-child {
        text-align: start;
        margin-top: 16px;
        padding-left: 22px;
    }

    .memories-section .star-circle .star {
        left: -16px;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
}


/*--------------------------------------------------------------
# People Comments section
--------------------------------------------------------------*/

.people-comments-section {
    background: var(--color-primary);
    padding-top: 32px;
    padding-bottom: 32px;
}

.people-comments-section h3 {
    font-size: calc(2.125rem + 0.3vw);
    line-height: 1;
}

.people-comments-section .comment-card {
    min-height: 100%;
    border-radius: 10px;
    font-size: calc(1rem + 0.15vw);
    line-height: 1.2;
}

.people-comments-section .comment-avatar {
    bottom: -50px;
}

.people-comments-section .comment-avatar img {
    border: 2px solid #fff;
}


/*--------------------------------------------------------------
# Onboard Features section
--------------------------------------------------------------*/

.onboard-features-section {
    position: relative;
    background-image: url(../images/include_home.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.onboard-features-section::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(162, 158, 158, 0.52);
    z-index: 2;
}

.onboard-features-section .onboard-feature-card, .onboard-features-section h3 {
    z-index: 3;
}

.onboard-features-section .onboard-feature-card {
    width: 368px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #fff;
    border-radius: 5px;
}

.onboard-features-section .onboard-feature-title {
    width: fit-content;
    top: -25px;
    background-color: #fff;
    border-radius: 5px;
    margin: auto;
    padding: .8rem 4rem;
}

.onboard-features-section .onboard-feature-title h5 {
    font-size: calc(1.5rem + 0.2vw);
    margin-bottom: 0;
}

.onboard-features-section .onboard-feature {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 16px;
    margin: 8px 0;
}

.onboard-features-section .onboard-feature p {
    font-size: calc(1.1rem + 0.09vw);
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .onboard-features-section {
        background-image: url(../images/include_home_mb.jpg);
        background-attachment: initial;
    }
    .onboard-features-section .onboard-feature-card {
        width: 302px;
    }
}


/*--------------------------------------------------------------
# FAQs section
--------------------------------------------------------------*/

.faqs-section .faq-quests {
    padding-left: 1rem;
}

.faqs-section .faqs-separator {
    width: 32px;
    height: 22px;
    border-top: 1px solid var(--color-secondary);
    border-radius: 0;
}

.faqs-section .faqs-quest-col {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.faqs-section .faq-quest {
    font-size: calc(1rem + 0.13vw);
    cursor: pointer;
}

.faqs-section .faq-quest p {
    font-family: 'Montserrat';
    margin-bottom: 0.5rem;
}

.faqs-section .faq-answer {
    padding: 0 15px;
    border-left: 1px solid #ccc;
    max-height: 0;
    overflow: hidden;
    transition: .5s ease-in;
    margin-bottom: 1rem;
}

.faqs-section .more-questions-col h3 {
    font-size: calc(2.1rem + 1vw);
    line-height: 0.9;
}

.faqs-section .more-questions-col a {
    width: 250px;
    padding: 13px 19px;
    font-size: calc(1.1rem + 0.1vw);
}

@media screen and (min-width: 768px) {
    .faqs-section .faqs-quest-col {
        flex: 1;
        padding: 0 2rem;
    }

    .faqs-section .faqs-separator {
        width: 1px;
        height: 325px;
        border-left: 1px solid #ccc;
        border-top: inherit;
        border-radius: 0;
    }

    .faqs-section .more-questions-col a {
        width: inherit;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
    padding: 14.5px 0;
}

footer p, footer a, footer span {
    font-size: 0.75rem;
    color: #a9a9a9;
    z-index: 291;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #a9a9a9;
}

footer .separator {
    height: 22px;
    border-left: 1px solid #ccc;
    border-radius: 0;
}